RPH_Delete_Vehicle/bin/Debug/RAGENativeUI.dll
RPH_Delete_Vehicle/bin/Debug/RAGENativeUI.xml
RPH_Delete_Vehicle/bin/Debug/RagePluginHookSDK.dll
RPH_Delete_Vehicle/bin/Debug/RagePluginHookSDK.xml
RPH_Delete_Vehicle/bin/Debug/RAGENativeUI.pdb
.vs/CopilotSnapshots/8D1F78386C4D6A4E9DC7C88FE4D1D313/345B6EE34A082645924AF55F21B3BF6D/77F5EF519C40A046E5A9C26ACE0219C5
.vs/CopilotSnapshots/8D1F78386C4D6A4E9DC7C88FE4D1D313/345B6EE34A082645924AF55F21B3BF6D/D37397FE7B522CEB2BED775528F5F7B2
.vs/RPH_Delete_Vehicle/copilot-chat/be8ae846/sessions/38781f8d-4d6c-4e6a-9dc7-c88fe4d1d313
.vs/RPH_Delete_Vehicle/FileContentIndex/31cce4c9-7639-46e8-9159-21be6a10f987.vsidx
.vs/RPH_Delete_Vehicle/FileContentIndex/acc0cc07-4184-426f-82f5-588c81ff7a4f.vsidx
.vs/RPH_Delete_Vehicle/FileContentIndex/acc0cc07-4184-426f-82f5-588c81ff7a4f.vsidx
.vs/RPH_Delete_Vehicle/FileContentIndex/6a467afa-9ded-44b5-ae89-b61e17daaf89.vsidx
